@charset "UTF-8";

@media only screen and (min-width: 600px) {
  header {
    background-color: lightblue;
  }

}

/* Estilos para tablets */

@media only screen and (min-width: 768px) {
    header {
        background-color: lightgreen;
    }
}

/* Estilos para notebooks */

@media only screen and (min-width: 992px) {
    header {
        background-color: lightcoral;
    }
}

/* Estilos para desktops */

@media only screen and (min-width: 1200px) {
  header {
    background-color: lightgoldenrodyellow;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 1.2em;
  }

  
}