@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #497CCA;
  --secondary-color: #719ED9;
  --terciary-color: #8BADD9;
  --quaternary-color: #B8C3D9;
  --background-color: #EEE7E7;
  --text-color: #333;

  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Open-Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--secondary-font);
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

#intro {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 20px 25px 20px;
}


#titulo {
  font-size: 28px;
}

#botoes-home {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: white;
  color: var(--secondary-color);
  padding: 0 0px;
  font-family: var(--primary-font);
  box-shadow: rgba(0, 0, 0, 0.267) 4px 7px 6px;
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--secondary-font);
  font-size: 1.2em;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  z-index: 201;
}

.mobile-menu:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--secondary-color);
  margin: 8px;
  transition: 0.3s;
}

.nav-list {
  position: absolute;
  top: 80px;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: var(--background-color);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.nav-list li {
  margin-left: 0;
  opacity: 0;
  text-align: center;
  width: 90%;

  border-bottom: 0.5px solid #33333360;
  padding: 12px 0;
}

#nav-list li:last-child {
  border-bottom: none;
}

.nav-list li a {
  font-size: 1.1em;
  font-weight: bolder;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#titulo {
  font-size: 2em;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 20px;
}

header .logo .material-symbols-outlined {
  font-size: 2.5rem;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

main {
  font-family: var(--secondary-font);
  font-size: 1.4em;
  color: white;
  margin-top: 80px;
}

main h2 {
  font-family: var(--primary-font);
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

main p {
  padding-bottom: 15px;
  font-size: 20px;
}

section {
  padding: 20px 0;
}

li {
  list-style: none;
  padding: 15px 0px;
}

#botoes-home a {
  text-decoration: none;
  color: var(--background-color);
  border: #EEE7E7 solid 3px;
  border-radius: 10px;
}

li > a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: bold;
}

li > a#entrar {
  background-color: #EEE7E7;
  color: var(--secondary-color);
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  font-size: 1.2rem;
}

li > a#livros {
  background-color: var(--terciary-color);
  color: #EEE7E7;
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  font-size: 1.2rem;
}

li > a#entrar-em-contato {
  background-color: var(--primary-color);
  color: #EEE7E7;
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  font-size: 1.2rem;
}

.card-wrapper {
  display: none;
  position: relative;
  width: 90%;
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
  padding-top: 30px;
}

.card-wrapper h3 {
  font-family: var(--primary-font);
  padding-top: 30px;
  font-size: 1.3em;
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.card-wrapper p {
  font-family: var(--secondary-font);
  font-size: 23px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: -20px;
}

.autores {
  font-size: 18px;
  font-weight: 100;
}

.stars {
  display: flex; 
  gap: 0px; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  margin: 0 auto;
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48; 
  font-size: 28px; 
  color: #f5d313e0; 
  padding-top: 30px;
}

.card-shadow {
  position: absolute;
  top: 20px;
  left: -18px;
  width: 98%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: rotate(5deg);
}

.shadow2 {
  top: 15px;
  left: -26px;
  z-index: 0;
  background-color: var(--secondary-color);
  height: 354px;
  width: 100%;
  transform: rotate(7deg);
}

.main-card {
  position: relative;
  left: -4px;
  height: 350px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

#destaques {
  /*display: none;*/
  background-color: white;
  color: white;;
  padding: 20px;
  padding-top: 0px;
  font-family: var(--primary-font);
}

.card h3 {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
}

.card > ul li {
  display: flex;
  align-items: flex-start;
  padding: 10px 0px;
}	

.card strong {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-family: var(--secondary-font);
  font-size: 20px;
  border: #497CCA solid 10px;
  border-radius: 50%;
  background-color: #497CCA;
}

.card li {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
}

.caixa-destaques {
  display: flex;
  flex-direction: column;
}

.flex-destaque {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.livro-destaque {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.nomelivro {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: bold;
  padding: 0px 10px;
}

.comentarios {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: normal;
  padding: 0px 10px;
}

.avatar-destaque {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 60px;
  height: 60px;
  color: white;
  border: #497CCA solid 10px;
  border-radius: 50%;
  background-color: #497CCA;
  font-variation-settings: 'FILL' 1, 'wght' 350, 'GRAD' 0, 'opsz' 48;
}

.avatar-destaque > span {
  font-size: 80px;
  color: white;
}

.destaque-usuarios {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: bold;
  padding: 0px 15px;
}

.destaque-resenhas {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: normal;
  padding: 0px 15px;
}

#sobre {
  background-color: var(--background-color);
  color: white;
  padding: 20px;
  padding-top: 0px;
}

#sobre > .card {
  background-color: white;
  color: var(--text-color);
  padding: 20px;
  margin: auto;
}

.logo-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 150px;
  height: 150px;
  color: white;
  border: #497CCA solid 10px;
  border-radius: 50%;
  background-color: #497CCA;
  font-variation-settings: 'FILL' 1, 'wght' 350, 'GRAD' 0, 'opsz' 48;
  margin: auto;
}

#sobre > .card .logo-sobre > span {
  font-size: 120px;
  color: white;
}

#sobre > .card h3 {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

#sobre > .card p {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: lighter;
  padding: 0px 10px 20px 10px;
}

#divisoria {
  border-top: 2px solid rgba(0, 0, 0, 0.089); 
  margin: 20px 0; 
  width: 90%; 
  margin-left: auto; 
  margin-right: auto;
}

/*  Área do Livro do Mês  */

#livros {
  background-color: white;
  color: var(--text-color);
  padding: 20px;
  padding-top: 0px;
}

.area-LivroMes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: var(--primary-color);
  border: #497CCA solid 0px;
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
}

#areaEspecial {
    height: 300px;
}

#capaEspecial {
  width: 180px;
  height: 250px;
}

.CapaDoLivro {
  background-color: white;
  width: 170px;
  height: 210px;
  margin: auto;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
}

.LivroMesCapa {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 20px;
}

.AutorCapa {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: normal;
  padding-top: 10px;
}

.DivisoriaCapa {
  border-top: 6px solid var(--secondary-color); 
  width: 35%; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: -10px;
}

#ediçao {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}	

#livros > .card {
  border-radius: 0px 0px 12px 12px;
}

#livros > h2 {
  color: var(--secondary-color);
  text-align: center;
  padding: 30px;
  position: relative;
  font-size: 1.5em;
}

#LivroMes {
  position: absolute;
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: bolder;
  color: var(--text-color);
  padding: 0px;
}

#livros .autores {
  font-size: 16px;
  padding-top: 20px;
}

#livros .stars {
  justify-content: right;
  top: 20px;
}

.sobre-autor {
  color: var(--text-color);
  font-weight: bold;
  padding: 10px;
}

.texto-sobre {
  font-size: 19px;
  font-weight: normal;
  text-align: justify;
  padding: 10px;
}

#compartilhar-opniao {
  background-color: var(--primary-color);
  color: #EEE7E7;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border: #EEE7E7 solid 3px;
  border-radius: 10px;
}

#compartilhar-opniao:hover {
  background-color: var(--terciary-color);
}

#marcar-como-lido {
  background-color: var(--primary-color);
  color: #EEE7E7;
  padding: 8px 12px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border: #EEE7E7 solid 3px;
  border-radius: 10px;
}

#marcar-como-lido:hover {
  background-color: var(--terciary-color);
}

/*#livros-anteriores .CapaDoLivro {
  width: 200px;
  height: 250px;
  padding-top: 20px;
}*/

#livros-anteriores .LivroMesCapa {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: Bold;
  padding-top: 25px;
}

#livros-anteriores .AutorCapa {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: normal;
  padding-top: 0px;
}

#livros-anteriores .card {
  margin: 0px 0px 20px 0px;
  border-radius: 0px 0px 12px 12px;
  padding: 20px;
}

#livros-anteriores .NomeLivrosAnteriores {
  color: var(--text-color);
  font-size: 18px;
  padding: 0px;
}

#livros-anteriores .AutoresLivrosAnteriores {
  color: var(--text-color);
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 10px;
}

#livros-anteriores .VerDetalhesLivro {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

.Botao {
  display: block;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #EEE7E7;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px auto 20px auto;
  padding: 10px 20px;
  width: 220px;
  transition: background-color 0.3s ease-in-out;
}

.Botao:hover {
  background-color: var(--terciary-color);
}

#contato {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 50px;
}

#area-contato {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  height: 290px;
}

#area-contato h3 {
  font-family: var(--secondary-font);
  color: white;
  padding: 4px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

#area-contato h4 {
  color: white;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#area-contato p {
  font-family: var(--secondary-font);
  font-weight: 100;
  color: white;
  padding: 0px 0px 5px 20px;
  font-size: 14px;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 10px;
  font-size: 20px;
}

.contato-item .simbolos-contato {
  font-size: 1.1em;
  color: white;
  font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 48;
}

#redes-sociais {
  display: none;
}

#redes-sociais > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.397);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 40px;
  transition: color 0.3s ease-in-out;
}

#redes-sociais li:hover {
  background-color: rgba(175, 192, 214, 0.616)
}

#redes-sociais li a {
    font-size: 1.6em;
    color: white;
}

#redes-sociais li a .material-symbols-outlined {
  font-size: 2.5em;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  line-height: 40px;
}

.fa-instagram {
  transition: color 0.3s ease-in-out;
}

#redes-sociais li .fa-instagram:hover {
  color: #fd5949;
}

.fa-github {
  transition: color 0.3s ease-in-out;
}

#redes-sociais li .fa-github:hover {
  color: var(--text-color);
}

.fa-linkedin {
  transition: color 0.3s ease-in-out;
}

#redes-sociais li .fa-linkedin:hover {
  color: var(--primary-color);
}

#formulario-contato {
  background-color: white;
  color: var(--text-color);
  padding: 20px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.212) 4px 7px 2px;
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

#formulario-contato h3 {
  font-family: var(--secondary-font);
  padding: 8px;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

footer {
  background-color: #242d42;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: var(--primary-font);
  
}

#titulo-rodape {
  font-size: 1.8em;
  color: #EEE7E7;
  font-weight: bolder;
  padding-bottom: 4px;
}

footer > .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: var(--secondary-color);
  padding: 0px;
}

footer .logo .material-symbols-outlined {
  font-size: 2.3em;
}

footer p {
  font-family: var(--secondary-font);
  font-size: 1.2em;
  color: grey;
  font-weight: lighter;
  margin-top: 10px;
  text-align: left;
}

footer .logo {
  padding: 20px 0px 10px 0px;
}

#redes-sociais-rodape {
  display: flex;
  align-items: center;
  gap: 16px;
}

#redes-sociais-rodape li {
  display: inline-block;
}     

#redes-sociais-rodape li a {
  font-size: 1.8em;
  color: grey;
}

footer > h2 {
  font-family: var(--secondary-font);
  font-size: 1.2em;
  color: #EEE7E7;
  font-weight: normal;
  padding: 7px 7px;
  text-align: left;
}

#links-rapidos li {
  font-size: 1em;
  text-align: left;
  padding: 5px;
}

#links-rapidos a {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: grey;
  text-decoration: none;
  text-align: left;
  padding-bottom: 0px;
  transition: color 0.3s ease-in-out;
}

#links-rapidos a:hover {
  color: #EEE7E7;
  text-decoration: underline;
}

.seçoes {
  color: var(--secondary-color);
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
  padding: 15px 0px;
}

.grid {
  display: grid;
  gap: 40px;
}

.grid-2 {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
  background: var(--background-color);
  padding: 15px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.199) 4px 7px 2px;
}

.highlight {
  background: #7C9CD4;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}

form input, form textarea, form button {
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

form label {
  display: block;
  margin: 0;
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: light;
}
form label:first-child {
  margin-top: 0;
}

form button {
  background-color: #497CCA;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #719ED9;
}

.material-symbols-outlined {
  font-size: 18px;
}

#screenPort {
  display: none;
}